{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Pay balance
{% endblock %}

{% block content %}
<nav class="hmcts-primary-navigation" aria-label="Primary navigation">

<div class="hmcts-header__container">

<ul class="hmcts-primary-navigation__list">

  <li class="hmcts-primary-navigation__item">
    <a class="hmcts-primary-navigation__link" href="/profile">
      Profile
    </a>
  </li>

  <li class="hmcts-primary-navigation__item">
    <a class="hmcts-primary-navigation__link" href="/organisation">
      Organisation
    </a>
  </li>

  <li class="hmcts-primary-navigation__item">
    <a class="hmcts-primary-navigation__link" href="/users">
      Users
    </a>
  </li>

  <li class="hmcts-primary-navigation__item">
    <a class="hmcts-primary-navigation__link" aria-current="page" href="/payments">
      Payments
    </a>
  </li>

</ul>

</div>

</nav>

      <div class="govuk-width-container">
        <main role="main" class="govuk-main-wrapper">

          <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/payments">Payments</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/summary">Summary</a>
              </li>
              <li class="govuk-breadcrumbs__list-item" aria-current="page">Pay balance</li>
            </ol>
            </div>

            <br>



                <div class="hmcts-page-heading">
                  <div class="hmcts-page-heading__title-wrapper">

                    <h1 class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">
                          <span class="govuk-caption-xl">PBA0241163</span>Pay balance
                          </h1>
                  </div>
                  <div class="hmcts-page-heading__actions-wrapper">

                  </div>
                </div>





              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                  <br>
                  <br>
                  <br>



                </div>
              </div>







        </main>
      </div>



{% endblock %}
