{% extends "layouts/admin/base.html" %}

{% block pageTitle %}
  Pay
{% endblock %}

{% block content %}
<br>

  <div class="jui-width-container">

    <div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
<li class="govuk-breadcrumbs__list-item">
<a class="govuk-breadcrumbs__link" href="/pay">Payment overview</a>
</li>
<li class="govuk-breadcrumbs__list-item" aria-current="page">PBA0241463</li>
</ol>
</div>
    <main role="main" class="govuk-main-wrapper">



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



          <h1 class="govuk-heading-xl">PBA0241463</h1>


          <h2 class="govuk-heading-m">
            Summary
          </h2>

          <dl class="govuk-check-your-answers govuk-check-your-answers--short">
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Current balance
              </dt>
              <dd class="govuk-check-your-answers__answer">
                £2746.00
              </dd>
              <dd class="govuk-check-your-answers__change">
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Account type
              </dt>
              <dd class="govuk-check-your-answers__answer">
                Credit
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Credit limit
              </dt>
              <dd class="govuk-check-your-answers__answer">
                £20,000.00
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Billing address
              </dt>
              <dd class="govuk-check-your-answers__answer">
                72 Guild Street<br />
                London<br />
                SE23 6FH
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
            Billing type
              </dt>
              <dd class="govuk-check-your-answers__answer">
                Monthly
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
            Next payment due
              </dt>
              <dd class="govuk-check-your-answers__answer">
                01 Aug 2018
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>
          </dl>

          <br>

          <h2 class="govuk-heading-m">
            Users and permissions
          </h2>

          <dl class="govuk-check-your-answers govuk-check-your-answers--short">
            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Joe@bluebird.com
              </dt>
              <dd class="govuk-check-your-answers__answer">
                Admin
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                James@bluebird.com
              </dt>
              <dd class="govuk-check-your-answers__answer">
                Write
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Lucy@bluebird.com
              </dt>
              <dd class="govuk-check-your-answers__answer">
                Write
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>

            <div class="govuk-check-your-answers__contents">
              <dt class="govuk-check-your-answers__question">
                Matt@bluebird.com
              </dt>
              <dd class="govuk-check-your-answers__answer">
                Read only
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="#">
                  Change<span class="visually-hidden"></span>
                </a>
              </dd>
            </div>
          </dl>

          <button type="submit" class="govuk-button">
            Add user
          </button>


        </div>
      </div>






















    </main>
  </div>



{% endblock %}
